* {
  font-family: 'Jost*', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Jost*';
  font-weight: 300;
  font-display: swap;
  src: url(./fonts/Jost-300-Light.otf);
}

@font-face {
  font-family: 'Jost*';
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  src: url(./fonts/Jost-300-LightItalic.ot)
}

@font-face {
  font-family: 'Jost*';
  font-weight: 500;
  font-display: swap;
  src: url(./fonts/Jost-500-Medium.otf)
}

@font-face {
  font-family: 'Jost*';
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  src: url(./fonts/Jost-500-MediumItalic.otf);
}


body {
  margin: 0 auto;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px;
  overflow-x: hidden;
}

nav, section, footer, .cake-selection, .description {
  width: 100%;
  display: flex;
}

section {
  padding-top: 120px;
}

.column {
  flex-direction: column;
}

/* Font Styles */

h1, h2, h3, a {
  color: #252A22;
  font-weight: 500;
}

h1 {
  font-size: 64px;
  line-height: 88px;
  margin-bottom: 16px;
}

h2 {
  font-size: 40px;
  line-height: 56px;
  margin-bottom: 40px;
}

h3 {
  font-size: 24px;
  letter-spacing: 2.4px;
  text-align: center;
  line-height: 32px;
}

p {
  font-weight: 300;
  font-size: 24px;
  color: #252A22;
  line-height: 40px;
}

a {
  text-decoration: none;
  color: #252A22;
}

/* Font Properties */

strong, span.highlight {
  font-weight: 500;
}

h1, h2, h3, p {
  max-width: 560px;
}

.center {
  text-align: center;
  margin: 0 auto;
}

/* Nav */

nav {
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  width: 120px;
  height: 80px;
}

nav .links {
  display: flex;
}

nav .links a {
  font-size: 16px;
  color: #252A22;
  letter-spacing: 1.6px;
  text-align: right;
  line-height: 24px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  text-decoration: none;
}

nav .links a {
  margin-left: 16px;
}

nav .links a img {
  margin-right: 12px;
}

nav .links a:before {
  background: #FEEFEB;
  content: " ";
  height: 24px;
  width: 24px;
  border-radius: 50%;
  margin: -8px -28px 8px 28px;
  transition: all 0.2s ease;
}

nav .links a:hover:before {
  margin: -12px -32px 12px 32px;
  transition: all 0.2s ease;
  background: #FEDCD2;
}

/* Hero */

section.hero {
  justify-content: space-between;
  align-items: center;
}

.hero h2 {
  font-weight: 300;
}

.hero-image-container {
  display: flex;
  align-items: center;
  position: relative;
}

.hero-image-container .tag {
  position: absolute;
  left: 120px;
}

.hero-image {
  margin-right: -200px;
  width: 50vw;
  height: 50vw;
  z-index: -1;
  border-radius: 50%;
  border: solid 40px;
}

/* Product */

.hero.product .description .tag {
  margin-bottom: 16px;
}

.product .description .buy-container {
  background: #FEEFEB;
  border-radius: 16px;
  width: calc(100% - 48px);
  max-width: 516px;
  padding: 24px;
  margin: 40px 0 24px;
}

.product .description .buy-container p.title {
  font-weight: 500;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buy-button {
  color: #FFFFFF;
  font-size: 24px;
  padding: 8px 12px;
  display: inline-block;
  position: relative;
  background: #252A22;
  width: fit-content;
  border-radius: 8px;
  cursor: pointer;
}

details {
  font-weight: 300;
  font-size: 16px;
  color: #252A22;
  line-height: 24px;
  max-width: 560px;
  padding-bottom: 8px;
  border-bottom: 2px solid;
  margin: 16px 0;
}

summary {
  font-size: 24px;
  line-height: 40px;
  list-style: none;
  position: relative;
}

details a {
  text-decoration: underline;
  white-space: nowrap;
}

summary::-webkit-details-marker {
  display: none;
}

summary:after {
  position: absolute;
  content: " ";
  width: 24px;
  height: 24px;
  right: 0;
  top: 8px;
  background: url(./img/icons/arrow_down.svg);
}

details[open] summary:after {
  background: url(./img/icons/arrow_up.svg);
}

details strong {
  font-size: 24px;
  line-height: 40px;
}

/* Cake Box */

.cake-selection {
  padding: 40px 0;
  justify-content: space-around;
}

.cake-box {
  display: flex;
  flex-direction: column;
  max-width: 336px;
  margin-bottom: 40px;
}

.cake-box .cake-image {
  width: 320px;
  border: solid 8px;
  border-radius: 16px;
  border-color: inherit;
  margin-bottom: 24px;
}

.cake-box h3 {
  text-transform: uppercase;
}

.cake-box .price {
  margin: 12px auto 0;
}

/* Thanks */

.thanks {
  flex-direction: column;
  justify-content: center;
}

.thanks h1 {
  max-width: 660px;
  text-align: center;
}

.thanks p {
  line-height: 42px;
  text-align: center;
}

/* FAQs */

.column.faqs {
  align-items: flex-start;
}

.faqs h3 {
  text-align: left;
  margin: 40px 0 8px;
}

.faqs p {
  margin: 0 0 8px;
}

/* Misc. */

.highlight {
  background: url(./img/highlight/higlight_middle.png);
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: calc(100% - 40px) 56px;
  white-space: nowrap;
}

.highlight:before {
  content: " ";
  background: url(./img/highlight/highlight_left.png);
  background-size: 32px 56px;
  width: 32px;
  height: 56px;
  left: -12px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

.highlight:after {
  content: " ";
  background: url(./img/highlight/highlight_right.png);
  background-size: 32px 56px;
  width: 32px;
  height: 56px;
  right: -11px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

.highlight-small {
  background: url(./img/highlight/higlight_middle.png);
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: calc(100% - 36px) 42px;
  white-space: nowrap;
}

.highlight-small:before {
  content: " ";
  background: url(./img/highlight/highlight_left.png);
  background-size: 24px 42px;
  width: 24px;
  height: 41px;
  left: -6px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

.highlight-small:after {
  content: " ";
  background: url(./img/highlight/highlight_right.png);
  background-size: 24px 42px;
  width: 24px;
  height: 41px;
  right: -6px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

.tag, .price, .button {
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  line-height: 24px;
  height: 24px;
  padding: 8px 12px;
  display: inline-block;
  position: relative;
  background: #252A22;
  width: fit-content;
}

.price, .button {
  border-radius: 8px;
  text-decoration: none;
}

.tag.tag-right {
  border-radius: 8px 0px 0px 8px;
}

.tag.tag-right:after {
  content: " ";
  background-image: url(./img/tag/tag-right.png);
  width: 20px;
  height: 40px;
  background-size: 20px 40px;
  position: absolute;
  top: 0;
  right: -20px;
}

.tag.tag-left {
  border-radius: 0px 8px 8px 0px;
}

.tag.tag-left:before {
  content: " ";
  background-image: url(./img/tag/tag-right.png);
  width: 20px;
  height: 40px;
  background-size: 20px 40px;
  position: absolute;
  top: 0;
  left: -20px;
}


.pink {
  border-color: #FEEFEB;
}

.green {
  border-color: #DEE7DA;
}

@media only screen and (max-width: 720px) {

  body {
    padding: 16px;
  }

  nav, section, footer, .cake-selection, .description {
    flex-wrap: wrap;
  }

  section {
    padding-top: 40px;
  }

  h1 {
    font-size: 48px;
    line-height: 64px;
    margin-bottom: 16px;
  }

  section.hero {
    flex-wrap: wrap-reverse;
  }

  .hero-image-container .tag{
    display: none;
  }

  .hero-image {
    width: calc(100% - 32px);
    height: auto;
    border-width: 16px;
    margin-bottom: 16px;
  }

}